{
  "connections": [
    {
      "id": "db1",
      "client": "pg",
      "connection": {
        "host": "db",
        "port": 5432,
        "user": "test",
        "database": "testdb",
        "password": "secret"
      }
    }
  ]
}
