{
  "connections": [
    {
      "id": "db1",
      "client": "mssql",
      "connection": {
        "host": "db",
        "port": 1433,
        "user": "test",
        "database": "tempdb",
        "password": "Secret@123"
      }
    }
  ]
}
