{
  "connections": [
    {
      "id": "db1",
      "host": "localhost",
      "port": 1433,
      "user": "admin",
      "database": "db1",
      "password": "password",
      "client": "mssql"
    }
  ]
}
