{
  "connections": [
    {
      "id": "db1",
      "client": "mssql",
      "connection": {
        "host": "localhost",
        "port": 1433,
        "user": "sa",
        "database": "tempdb",
        "password": "Password@123"
      }
    }
  ]
}
