name: Build and Publish

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Set Ribby as git user
        run: |
          git config user.name "Ribby"
          git config user.email "bot@lftechnology.com"

      - name: Check format
        run: yarn format:check

      - name: Lint code
        run: yarn lint

      - name: Build project
        run: yarn build

      - name: Test coverage
        run: yarn test:coverage

      - name: Upload coverage to Codecov
        run: yarn codecov

  publish:
    name: Publish @leapfrogtechnology/sync-db package
    needs: build
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Install gems
        run: |
          gem install github_changelog_generator


      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install node dependencies
        run: yarn

      - name: Install hub
        run: |
          sudo apt update
          sudo apt install hub
          hub --version

      - name: Run release script
        env:
          RIBBY_GITHUB_TOKEN: ${{ secrets.RIBBY_GITHUB_TOKEN }}
        run: ./release.sh compare_and_release

      - name: Deploy to NPM
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
          yarn publish
